*{
	margin: 0px;
	padding: 0px;
}

.content{
	border: solid 1px #999;
	margin: 0px auto;
	width: 600px;
	min-height: 200px;
}

.content ul{
	margin-left: 100px;
}

.content ul li{
	padding: 15px;
	display: inline-block;
}